* {
    font-family: Arial, Helvetica, sans-serif;
}

article {
    width: 100%;
}

.header {
    background-color: azure;
    display: grid;
    grid-template-columns: 55% 45%;
    text-align: center;
    align-items: baseline;

}

.body {
    display: flex;
    height: 100%;
}

.left {
    background-color: rgb(53, 58, 61);
    width: 30%;
    text-align: left;
    color: aliceblue;


}

.leftContent {
    margin-left: 30px;
}

.left h3,
h4 {
    color: rgb(236 143 0 / 100%);

}

img {
    width: 70%;
    height: 200px;
    padding-left: 40px;
    padding-top: 20px;

}

.right h4 {
    color: rgb(236 143 0 / 100%);

}

.right {
    margin-left: 20px;
    width: 65%;
    color: black;


}

.tablehead h2 {
    text-align: center;
}

.subinfo {
    display: flex;
    align-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 50px;
}

.leftSubinfo {
    width: 50%;
    text-align: left;
}

.rightSubinfo {
    width: 50%;
    text-align: right;
}


table,
td,
th {
   text-align: center;
   padding: 5px;
   border: 1px solid #ddd;
}

table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

}